---
import Layout from '../layouts/Layout.astro'
import NavBar from '../components/NavBar.svelte'
import Hero from '../components/Hero.astro'
import FeatureLeft from '../components/FeatureLeft.astro'
import FeatureRight from '../components/FeatureRight.astro'
import ComoFunciona from '../components/ComoFunciona.astro'
import Catalogo from '../components/Catalogo.svelte'
import CartDrawer from '../components/CartDrawer.svelte'
import Agenda from '../components/Agenda.astro'
import Entrega from '../components/Entrega.astro'
import SobreArtesa from '../components/SobreArtesa.astro'
import FAQ from '../components/FAQ.astro'
import Footer from '../components/Footer.astro'
import { getProdutos } from '../lib/produtos'

const { produtos, categorias } = await getProdutos()
---

<Layout>
  <NavBar client:load />
  <main>
    <Hero />
    <FeatureLeft />
    <FeatureRight />
    <ComoFunciona />
    <Catalogo client:load produtos={produtos} categorias={categorias} />
    <Agenda />
    <Entrega />
    <SobreArtesa />
    <FAQ />
    <Footer />
  </main>
  <CartDrawer client:load />
</Layout>